.container{
  background-image: url('https://media.istockphoto.com/id/1258128901/vector/eid-al-adha-mubarak-background-vector-illustration-goat-on-dark-blue-bokeh-background.jpg?s=612x612&w=0&k=20&c=aXjbrfhYuW5a8j7lmYnb8zmU_pEQsfDIHG5wWmYvgeQ=');    
  background-repeat:  no-repeat;
  background-size: cover;

}
.box{
    background-color:hsla(120,100%,50%,0.3);
}
h1{
    background-color:hsla(120,100%,50%,0.3);
    margin: 0px;
    padding: 0px;
    
}
